/******** HEADER *********/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fdf2e9;

  height: 9.6rem;
  /*we want the header to be sticky so we are 
  giving it a fixed height instead of letting 
  the content determine the height and applying
  padding on top and bottom.
  */
  padding: 0 3.2rem;
  position: relative;
}

.logo {
  height: 2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #8a4c14;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  background: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background: #cf711f;
}

/*** MOBILE NAVIGATION ***/
.btn--mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*** STICKY NAVIGATION ***/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
}

.sticky .hero-section {
  margin-top: 9rem;
}

/***** HERO SECTION ******/

/*CSS grid makes it easier to build equal sized columns and using 
the same tool for layout across the entire page is more consistent.
*/

.hero-section {
  background: #fdf2e9;
  padding: 3.2rem 0 6.4rem 0;
  /* margin-bottom: 9.6rem; */
}

.hero__grid-container {
  /*The image is determining the height from my analysis*/
  max-width: 130rem; /*it won't increase more than this but can scale down*/
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero__img {
  /*100% of the parent (hero__image-content)
  which in turn is one of the equal sized columns in the grid.*/
  width: 100%;
}

.hero__text-heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 3.2rem;
}

.hero__text-body {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero__customer-content {
  display: flex; /*we dont care about size of the columns so we can use flex.*/
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.hero__customer-img {
  display: flex;
}

.hero__customer-img img {
  width: 4.8rem;
  height: 4.8rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  margin-right: -1.6rem; /*there's a pulling effect on the next item*/
}

.hero__customer-img img:last-child {
  margin-right: 0; /*removes the margin right from the last image element*/
}

.hero__customer-content p {
  font-size: 1.8rem;
  font-weight: 600;
}

.hero__customer-content span {
  color: #8a4c14;
}
/**** FEATURED IN SECTION *******/
.featured-section {
  padding: 4.8rem 0;
  margin-bottom: 4.8rem;
}
.featured__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #666;
}
.logos {
  display: flex; /*even though images are inline elements. */
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/************* HOW SECTION ************/
.step-img {
  width: 35%;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**one way to center the .step-text-box*/
/* .step-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/*The ::before and ::after cannot be added to images*/

.step-img-box::before {
  content: "";
  display: block;
  width: 60%;
  /*the padding is 60% of parent's width. The parent is .step-img-box */
  padding-bottom: 60%;
  /*we have no height but since we have added padding to the bottom,
  it will give us the shape, in this case a square*/
  background: #fdf2e9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.step-img-box::after {
  content: "";
  display: block;
  width: 45%;
  padding-bottom: 45%;
  background: #f3bf91;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/**** MEALS SECTION *******/
.meals__section {
  padding: 9.6rem 0;
}
.meals__img {
  width: 100%;
}
.meals__title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meals__attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meals__attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meals__icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: #e67e22;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 1000px;
  font-weight: bold;
}
.tag--vegetarian {
  background: #51cf66;
}
.tag--vegan {
  background: #82c91e;
}
.tag--paleo {
  background: #ffd43b;
}

.meals__tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);
  border-radius: 11px;
  overflow: hidden;
  /*anything overflowing should be hidden*/
  transition: all 0.3s;
}
.meal:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meals__content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.diets {
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09); */
  /* padding: 0 3.2rem 3.2rem 3.2rem; */
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem; /*we not applying this on the link cause we might want 
  to use that link somewhere else. */
}

.all-recipes .link {
  color: #432811;
}

/***** TESTIMONIALS SECTION *******/
.testimonials__section {
  background: #fdf2e9;
  display: grid;
  grid-template-columns: 60fr 40fr; /*think of them as percentages */
  align-items: center;
}
.testimonial-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

/***** PRICING SECTION *******/
.pricing__section {
  padding: 9.6rem 0;
}
.pricing-plan {
  border-radius: 11px;

  width: 75%;
}
.pricing-plan--starter {
  justify-self: right;
  border: 3px solid #fdf2e9;
  padding: 4.5rem;
}
.pricing-plan--complete {
  background: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;
  color: #333;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/**FEATURES **/
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background: #fdf2e9;
  border-radius: 50%;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/** CTA SECTION **/
.section-cta {
  /*top / horizontal / bottom*/
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("./content/img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/*** FOOTER ***/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.logo-column {
  display: flex;
  flex-direction: column;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto; /*the copyright is a flex item of the logo-column*/
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
